@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
}

a {
    text-decoration: none;
    display: block;
}

header {
    float: left;
    width: 1200px;
    height: 285px;
    position: relative;
}

nav {
    width: 200px;
    height: 600px;
    background: linear-gradient(320deg, magenta, cyan, yellow);
    float: left;
    position: relative;
}

section {
    width: 1000px;
    height: 600px;
    background: linear-gradient(320deg, magenta, cyan, yellow);
    float: left;
}

.logo {
    text-align: center;
}

.logo img {
    width: 180px;
    height: 80px;
}

.menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu>li {
    width: 180px;
    height: 40px;
    background: linear-gradient(320deg, magenta, cyan, yellow);
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}

.menu>li>a:hover {
    background: linear-gradient(500deg, magenta, cyan, yellow);
    transition: 1.5s;
    color: #313131;
}

section h2 {
    text-align: center;
    margin: 40px 0 80px 0;
    font-size: 3em;
}

section p {
    background: linear-gradient(320deg, magenta, cyan, yellow);
    width: 800px;
    text-align: center;
    line-height: 50px;
    padding: 20px;
    font-size: 1.5em;
    color: black;
}

.warpper {
    width: 1200px;
    height: 885px;
}

.bonobono {
    width: 100px;
    height: 150px;
    position: absolute;
    left: 1100px;
    bottom: 0;
}

.mode {
    position: absolute;
    right: 20px;
    top: 20px;
    background: linear-gradient(320deg, yellow, magenta, cyan);
    padding: 5px;
}

.mode label {
    color: black;
}